html {
    background-image: url("https://ocean.si.edu/sites/default/files/styles/3_2_large/public/2023-11/harp-seal-pup-brian-skerry.jpg.webp?itok=ME_YjT0B");
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
